body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 4px 8px;
  margin: 6px;
}

p {
  margin: 6px;
  font-weight: 600;
}

hr {
  margin-right: 16px;
  margin-left: 16px;
}

.isClose {
  display: none;
}

.isOpen {
  display: block;
}

.m0 {
  margin: 12px;
}

.m1 {
  margin: 30px;
}

.m2 {
  margin: 45px;
}

.mk {
  margin-top: 16px;
}

.mj {
  margin-bottom: 16px;
}

.ml {
  margin-top: 16px;
}

.mh {
  margin-top: 16px;
}

.p1 {
  padding: 12px;
}

.pk {
  padding-top: 8px;
}

.pl {
  padding-right: 8px;
}

.ph {
  padding-left: 8px;
}


.pj {
  padding-bottom: 8px;
}

.p2 {
  padding: 18px;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.done {
  text-decoration: line-through;
}


